*{
    margin: 0px;
    padding: 0px;
}
body{
    /*background-color:   #4e1188;*/
    background-color: aliceblue;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    background-color: hsl(0, 0%, 9%);
    border: 1px solid black;
    border-radius: 30px;
    padding: 0px 10px;
}
.logo-web img{
    width: 90px;
    height: 90px;
    padding: 0px 10px;
    padding-top: 10px;
    padding-left: 30px;
}
.nav-links ul{
    display: flex;
    gap: 2.5rem;
    padding: 0px 30px ;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(110, 19, 194);
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: rgb(20, 20, 19);
    font-size: 2rem;
    font-family: Spectral, serif;
    font-size: 42px;
    margin-left: 30px;
}
html{
    overflow-x: hidden;
}
.text{
    display: flex;
    flex-direction: column;
}
.info{
    font-size: 20px;
    margin-top: 18px;
    margin-left: 30px;
    line-height: 1.7rem;
    color: rgb(70, 10, 125);
}
button{
    width: 140px;
    height: 50px;
    background-color:rgb(99, 90, 200);
    border: none;
    border-radius: 10px;
}
.login{
    margin: 0px 200px;
    margin-top: 50px;
}
.login a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.image1 img{
    width: 650px;
    height: 500px;
    
}

.news-section h1{
    text-align: center;
    margin-top: 50px;
    color: hsl(203, 30%, 26%);
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    margin-top:50px;
    padding: 30px 60px;
    gap: 2rem;
}
.travel1{
    height: 250px;
    width: 350px;
    border: 1px solid white;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}
.travel1:hover{
    transform: scale(1.1);
}